include AUTHORS.txt CHANGELOG.rst LICENSE.txt pyproject.toml
graft dist
graft examples
graft tests
recursive-exclude dist *.egg *.whl
recursive-exclude dist *.bz2 *.gz *.zip
recursive-exclude tests __pycache__
recursive-exclude tests *.py[cod]
